
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #beccff;
}

header {
    background-color: #333;
    background-image: url(https://media.tenor.com/cYODRJqBezUAAAAM/disco-ball-colors.gif);
    color: #ff86d7;
    padding: 1rem;
    text-align: center;
}

header img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 2rem;
}

#upcoming-concerts {
    margin-top: 2rem;
}

#upcoming-concerts h2 {
    color: #333;
}

.concert-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
    padding: 1rem;
}

.concert-box h3 {
    margin-top: 0;
    color: #ff86d7;
}

.concert-box p {
    margin: 0.5rem 0;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}
